# directories
**/__pycache__/
**/build/
**/cache/
**/doc/
**/saves/
**/.pytest_cache
**/.mypy_cache

# file types
**/*.bak
**/*.bak
**/*.game.rpy
**/*.gen.rpy
**/*.log
**/*.pyc
**/*.pyc
**/*.rpa
**/*.rpyc
**/*.rpymc
**/*.swo
**/*.swp
**/*.swp

# specific files
errors.txt
log.txt
text_overflow.txt
traceback.txt